<a href="https://colab.research.google.com/github/YogPanjarale/Google-Collabs/blob/main/iqr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

interquartile range 
IQR

In [1]:
import pandas as pd

In [4]:
#I Data Frame
idf = pd.DataFrame(
    {
        "A":[1,5,3,4,2],
        "B":[3,2,4,3,4],
        "C":[2,2,7,3,4],
        "D":[4,3,6,12,7],
    }
)
idf.quantile([0.1,0.25,0.5,0.75],axis=0)

        A    B    C    D
0.10  1.4  2.4  2.0  3.4
0.25  2.0  3.0  2.0  4.0
0.50  3.0  3.0  3.0  6.0
0.75  4.0  4.0  4.0  7.0